 cd ~/RemoteOps
tail -n 30 remoteops_IT24103709.log
[2026-10-06 11:26:47] SYSINFO command executed
[2026-10-06 11:27:49] LISTPROC command executed
[2026-10-06 11:30:22] EXEC DATE
[2026-10-06 11:30:43] Unknown command
[2026-10-06 11:31:36] GET file not found
[2026-10-06 11:37:58] Connection closed
[2026-10-06 11:38:26] Connection accepted from 127.0.0.1:34242
[2026-10-06 11:39:19] Command rejected before authentication
[2026-10-06 11:42:04] Command rejected before authentication
[2026-10-06 11:43:17] Connection accepted from 127.0.0.1:46860
[2026-10-06 11:43:22] AUTH successful
[2026-10-06 11:43:46] GET file not found
[2026-10-06 11:45:11] Command rejected before authentication
[2026-10-06 11:45:11] Connection closed
[2026-10-06 11:45:27] Unknown command
[2026-10-06 11:54:16] Connection accepted from 127.0.0.1:42174
[2026-10-06 11:54:37] Command rejected before authentication
[2026-10-06 11:54:37] Command rejected before authentication
[2026-10-06 11:55:52] Connection closed
[2026-10-06 11:55:55] Connection accepted from 127.0.0.1:47998
[2026-10-06 11:56:01] AUTH successful
[2026-10-06 11:56:15] PUT sample.txt (35 bytes)
[2026-10-06 11:58:22] GET sample.txt (35 bytes)
[2026-10-06 12:00:06] GET sample.txt (35 bytes)
[2026-10-06 12:13:45] Connection accepted from 127.0.0.1:51736
[2026-10-06 12:15:07] Command rejected before authentication
[2026-10-06 12:16:12] AUTH successful
[2026-10-06 12:16:22] MONITOR START
[2026-10-06 12:17:10] MONITOR STOP
[2026-10-06 12:17:55] Rejected disallowed EXEC command
